@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Montserrat", sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}
img{
    max-width: 100%;
}
*, ::after, ::before {
	box-sizing: border-box;
}
a{
	text-decoration: none ;
	outline: none;
	transition: all 0.8s ease-in-out;
}
li{
	list-style: none;
}
a:hover {
	transition: all 0.8s ease-in-out;
	text-decoration: none !important;
	outline: none;
}
/* ============================== HEADER CSS START ============================== */
.promo_top_text {
	background-color: #181818;
}
.welcom_text img{
    margin-right: 5px;
    margin-bottom: 5px;
}
#dezign_logo {
	text-align: center;
}
.welcom_text {
	color: #fff;
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 0.50px;
}
.welcom_text span {
	font-size: 15px;
	letter-spacing: 0.50px;
	text-transform: uppercase;
	font-weight: 600;
}
.top_newsletter_link ul {
	display: flex;
	list-style: none;
	justify-content: end;
	margin-bottom: 0px;
	align-items: center;
}
.top_newsletter_link ul li {
	padding: 9px 20px;
	background-color: transparent;
	transition: all 0.8s ease-in-out;
}
.top_newsletter_link ul li:hover{
	background-color: rgb(0, 0, 0);
}
.top_newsletter_link ul li:first-child{
	border-right:1px solid rgb(255, 255, 255, 0.2);
}
.top_newsletter_link ul li a {
	color: #fff;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.3px;
	transition: all 0.8s ease-in-out;
}
.top_newsletter_link ul li a img {
	margin-right: 3px;
}
.top_newsletter_link ul li a:hover{
    text-decoration: none;
}
.Verifie-main1.box {
	justify-content: end;
}
.top_section {
	padding: 25px 0 25px;
}
.menu_bottom {
	background-color: rgb(27, 0, 255);
}
.logo {
	text-align: center;
}
.main_menu_mobile{
	display: none !important;
}
.menu {
	position: relative;
}
.main_menu ul {
	margin-bottom: 00px;
	display: flex;
	justify-content: center;
	list-style: none;
}
.main_menu ul li {
	padding: 12px 60px 12px 60px;
	position: relative;
}
.main_menu ul li::after {
	content: '';
	position: absolute;
	background-image: url(../images/menu_icon.png);
	background-repeat: no-repeat;
	width: 14px;
	height: 14px;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.main_menu ul li:last-child::after{
	display: none;
}
.main_menu ul li a::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: -4px;
	left: 0;
	background-color: #fff;
	transform-origin: bottom right;
	transition: transform 0.50s ease-out;
}
.main_menu ul li a {
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	letter-spacing: 1.4px;
	font-weight: 600;
	position: relative;
	color: #fff;
	text-transform: uppercase;
	transition: all 0.8s ease-in-out;
	position: relative;
}
.main_menu ul li a:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}
.Verifie-main1{
    display: flex;
    grid-column-gap: 10px;
    align-items: center;
}
.Verifie-text1 h1 {
	font-size: 18px;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	margin-bottom: 0;
	color: #282827;
	letter-spacing: 0.30px;
}
.Verifie-text1 p {
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	color: #666666;
	margin-bottom: 0;
	letter-spacing: 0.10px;
}
/* mobile-menu-css-tart */

.main_menu_mobile {
	position: relative;
	display: inline-block;
}
  
.main_menu_mobile {
	padding-left: 10px;
	font-size: 15px;
	border: none;
	cursor: pointer !important;
}
.menu-links {
	display: none;
	position: absolute;
	background-color: rgb(200, 35, 51);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 999;
	width: 190px;
	right: 10px;
	top: 10px;
	padding: 10px 20.1px;
}
.menu-btn{
	background-color: transparent;
  	outline: none;
  	border: 0px;
}
.menu-links a {
	color: #fff;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: center;
}
.main_menu_mobile:hover .menu-links {
	display: block;
}
.main_menu_mobile .menu-links li{
	list-style: none;
}
.main_menu_mobile .menu-btn img {
	width: 80%;
}
.main_menu_mobile .menu-btn{
	text-align: right;
}
.menu-links a {
	font-weight: 600;
	font-size: 15px;
	letter-spacing: 1.4px;
	position: relative;
	transition: all 0.8s ease-in-out;
	font-family: 'Montserrat', sans-serif !important;
	color: #FFF !important;
	text-transform: uppercase;
	text-align: left;
	padding: 7px 0;
	display: inline-block;
}
.menu-links a::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 4px;
	left: 0;
	background-color: #fff;
	transform-origin: bottom right;
	transition: transform 0.50s ease-out;
}
.menu-links a:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}
ul.main_menu {
	margin-bottom: 0 !important;
}
.main_menu_mobile{
	display: none !important;
}
@media screen and (max-width: 1199px){
	.dezign_header .container {
		max-width: 100%;
		padding: 0 20px;
	}
}
@media screen and (max-width: 1024px) {
	.main_menu ul li {
		padding: 10px 50px 10px 50px;
		position: relative;
	}
}
@media screen and (max-width: 991px) {
    .main_menu{
		display: none !important;
	}
	.top_section .container {
		max-width: 720px;
	}
	.Verifie-main1 {
		margin-top: 20px;
	}
    .main_menu_mobile{
        display: inline-block !important;
    }
	.promo_top_text .row .col-md-4:nth-child(3) {
		order: 1;
		text-align: right;
	}
	.top_section .col-md-4:nth-child(2) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.top_section .container .row .col-md-4:nth-child(3) {
		display: flex;
		flex: 0 0 50%;
		max-width: 50%;
		order: 2;
		justify-content: end;
	}
	.top_section .container .row .col-md-4:nth-child(1) {
		order: 1;
		display: flex;
		flex: 0 0 50%;
		max-width: 50%;
	}
}
@media screen and (max-width:767px) {
	.promo_top_text .row .col-md-4:nth-child(3) {
		order: 1;
		text-align: right;
		position: relative;
		top: -70px;
		height: 0px;
	}
	#dezign_logo {
		width: 60%;
		margin-left: 0px;
	}
	.main_menu_mobile .menu-btn img {
		width: 60%;
	}
	.promo_top_text {
		padding: 7px 0;
	}
	.welcom_text {
		text-align: center;
		margin-bottom: 7px;
	}
	.welcom_text span {
		font-size: 15px;
	}
	.top_newsletter_link ul {
		justify-content: center;
	}
	.top_newsletter_link ul li {
		padding: 5px 12px;
	}
	.logo {
		text-align: center;
		width: 85%;
	}
}
@media screen and (max-width:634px){
	.Verifie-text1 h1 {
		font-size: 17px;
	}
	.Verifie-text1 p {
		font-size: 12px;
	}
}
@media screen and (max-width: 575px) {
	.top_section .container .row .col-md-4:nth-child(1) {
		order: 1;
		display: flex;
		flex: 0 0 100%;
		max-width: 100%;
		justify-content: center;
	}
	.top_section .container .row .col-md-4:nth-child(3) {
		display: flex;
		flex: 0 0 100%;
		max-width: 100%;
		order: 2;
		justify-content: center;
	}
	.Verifie-text1 h1 {
		font-size: 18px;
	}
	.Verifie-text1 p {
		font-size: 14px;
	}
}
@media screen and (max-width: 480px) {
	.logo {
		width:70%;
	}
}
/* ============================== HEADER CSS END ============================== */

/*================================== IMAGES CSS END  ================================== */
.listing_section {
	padding-top: 40px;
}
.main_title {
	margin-bottom: 20px;
}
.main_title p {
	font-size: 19px;
	line-height: 30px;
	letter-spacing: 0.3px;
	font-weight: 600;
	font-family: "Montserrat", sans-serif;
	color: #fff;
	text-transform: capitalize;
	text-align: center;
	background-color: rgb(153, 0, 0);
	padding: 5px 5px;
	margin-bottom: 0;
	max-width: 100%;
	margin: 0 0px;
}
.desc-text span h1 {
	font-size: 22px;
	line-height: 32px;
	letter-spacing: 0.30px;
	font-weight: 800;
	font-family: "Montserrat", sans-serif;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.desc-text span h2 {
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	line-height: 32px;
	letter-spacing: 0.70px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 18px;
}
.desc_bottum p {
	display: inline-block;
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 0.70px;
	font-weight: 500;
	color: #959595;
	width: 81%;
}
.desc_bottum span {
	display: inline-block;
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 0.70px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	margin: -43px 10px 0px 0px;
}
.pro-and-about {
	border: 1px solid #dadada;
	border-top: 0;
	padding: 20px;
}
.desc-rd.desc-text table {
	border-collapse: collapse;
	margin-bottom: 15px;
	width: 98%;
	border: 1px solid #dadada;
}
.desc-rd.desc-text tbody tr td:nth-child(1) {
	width: 45%;
}
.desc-rd.desc-text tbody tr td:nth-child(2) {
	width: 55%;
}
.desc-rd.desc-text th, td {
	text-align: left;
	padding: 0px 15px;
}
.desc-rd.desc-text tr td:first-child {
	color: #000;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.3px;
	font-weight: 600;
	text-align: left;
	padding: 11px 15px;
}
.desc-rd.desc-text tr td:last-child {
	color: #666666;
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	line-height: 26px;
	letter-spacing: 0.3px;
	font-weight: 400;
	text-align: left;
	padding: 11px 15px;
}
.desc-rd.desc-text tr:nth-child(odd) { 
	background-color: #f9f9f9; 
} 
.desc-rd.desc-text tr:nth-child(even) { 
	background-color: #efefef; 
} 
.product_section {
	position: relative;
}
.product_images_wappers {
	width: 100%;
	margin: 0px auto;
	text-align: center;
	height: 850px;
	overflow: auto;
	scrollbar-width: thin;
	scrollbar-color: #000 #FFF;
	margin-bottom: 30px;
	padding: 10px;
	background-color: #000;
	border: 1px solid transparent;
	border-image: linear-gradient(to bottom, #737373, #b48540) 1;
}
.product_images_gallery {
	width: 48%;
	min-height: 550px;
	display: inline-block;
	text-align: center;
	margin-bottom: 30px;
	vertical-align: top;
	padding: 5px;
	margin: 0.5%;
	position: relative;
	border: 1px solid #373737;
}
.desc-hedtitle img {
	margin-top: -3px;
	margin-right: 6px;
}
.desc-rd.desc-text p {
	font-size: 15px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0.30px;
	color: #666666;
	font-family: "Montserrat", serif;
}
.desc-rd.desc-text p:last-child{
	margin: 0 0 0 0;
}
.desc-rd ul {
	margin-bottom: 15px;
	padding-left: 10px;
}
.desc-rd.desc-text b {
	text-transform: capitalize;
	font-weight: 700;
	font-size: 18px;
	line-height: 26px;
	letter-spacing: 0.30px;
	color: #000;
	font-family: "Montserrat", serif;
	margin: 0 0 0px 0;
}
.desc-rd table h3 {
	margin: 0;
	font-size: 18px;
	font-weight: bold;
}
#main_gallery {
	border: 0px solid #b4b4b4;
	border-radius: 0px;
	box-sizing: border-box;
	float: left;
	min-height: auto;
	margin: 0;
	padding: 0px;
	position: relative;
	width: 100%;
	box-sizing: border-box;
}
#main_gallery #main_row {
	float: right;
	height: auto;
	margin: 0 auto;
	max-width: inherit;
	overflow: hidden;
	text-align: center;
	width: auto;
	z-index: 500;
	margin-right: 0px;
}
#main_row > div {
	float: left;
	margin-top: 0;
	max-width: 400px;
}
#main_gallery #main_row div ul {
	display: flex;
	height: auto;
	list-style: outside none none;
	margin: 0 auto;
	padding: 0;
	width: auto;
	flex-wrap: wrap;
	justify-content: end;
}
#main_gallery #main_row div ul li:last-child {
	margin-right: 0;
}
#main_gallery .full_img_wapper {
	background-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	float: left;
	height: 614px;
	margin: 0 auto;
	max-width: 100%;
	width: auto;
}
#main_gallery .thumb {
	background-color: #fff;
	border: 1px solid #dadada;
	border-radius: 0;
	box-sizing: border-box;
	cursor: pointer;
	display: table-cell;
	_float: left;
	height: 164px;
	vertical-align: middle;
	width: 164px;
}
#main_gallery .thumb > img {
	display: table-cell;
	height: auto;
	margin: 0 auto;
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;
	width: auto;
}
#main_gallery #main_row div#row1 ul:first-child li:first-child .imagsbox_w {
	z-index: 1;
}
#main_gallery #main_row input {
	display: none;
}
#main_gallery #main_row input:checked ~ .imagsbox_w {
	z-index: 2;
}
section p {
	font-family: "Cormorant", serif;
	margin-bottom: 10px;
}
#right_box {
	position: relative;
	z-index: 1;
	margin-bottom:0px;
	height: auto;
	overflow: auto;
	scrollbar-width: thin;
	scrollbar-color: #d4d4d4 #f9f9f9;
}
.listing_listingarea-box{
  float: left;
  width: 100%;
}
.desc-hedtitle p {
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.50px;
	font-weight: 500;
	font-family: "Montserrat", sans-serif;
	color: #fff;
	text-transform: capitalize;
	text-align: center;
	background-color: rgb(153, 0, 0);
	padding: 5px 5px;
	margin-bottom: 0;
	max-width: 100%;
}
.desc-rd li {
	margin-bottom: 10px;
}
.product-text {
	margin-top: 10px;
}
.desc-rd.desc-text li {
	background: url('../images/right_arrow.png');
	background-repeat: no-repeat;
	background-position: left 11px;
	padding-left: 20px;
	margin-bottom: 8px;
	font-size: 15px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0.30px;
	color: #666666;
}
#main_gallery div.imagsbox_w .imagsbox {
	display: flex;
	height: 100%;
	max-width: 100%;
	padding: 0;
	width: 100%;
	background-color: #fff;
}
#main_gallery div.imagsbox_w .full-img {
	display: block;
	height: auto;
	max-height: 100%;
	max-width: 100%;
	width: auto;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: auto;
	margin-left: auto;
}
#main_gallery div.imagsbox_w {
	border: 1px solid #dadada;
	border-radius: 0px;
	bottom: 0;
	height: 97%;
	left: 0px;
	margin: 0 auto;
	max-width: 100%;
	position: absolute;
	top: 0px;
	width: 66%;
}
#main_gallery #main_row div ul li {
	float: right;
	height: auto;
	margin: 0 0px 20px 22px;
	padding: 0;
	width: auto;
}
@media screen and (max-width: 1199px) {
	.listing_section .container {
		max-width: 100%;
		padding: 0 20px;
	}
	.product-text .container {
		max-width: 100%;
		padding: 0 20px;
	}
}
@media screen and (max-width:1079px){
	#main_gallery div.imagsbox_w {
		width: 63%;
	}
}
@media screen and (max-width: 1024px) {
	#main_gallery div.imagsbox_w {
		width: 100% !important;
		height: 400px;
		left: 0;
    	margin: 10px auto 0;
    	right: 0;
    	top: 0 !important;
	}
	#main_gallery .thumb > img {
		max-height: 100%;
		max-width: 100%;
	}
	#main_gallery #main_row {
		width: 100%;
		margin: 20px auto 0;
	}
	.main_title {
		margin-bottom: 10px;
	}
	.product-text {
		margin-top: 0px;
	}
	#main_gallery .full_img_wapper {
		height: 400px;
		width: 100%;
	}
	#main_row > div {
		float: none;
		margin: 0 auto !important;
		text-align: center;
		max-width: 100%;
	}
	#main_gallery #main_row div ul {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	#main_gallery #main_row div ul li {
		margin: 0 0px 20px 16px;
	}
	#main_gallery div.imagsbox_w .imagsbox {
		height: 100% !important;
		display: flex;
		margin: 0 auto;
	}
	#main_gallery #main_row .thumb {
		width: 55px;
		height: 55px;
	}
	#main_gallery {
		margin: 0px 0 0px;
		padding: 0 0px 20px;
		width: 100%;
		min-height: auto;
	}
}
@media screen and (max-width:991px) {
	.listing_section {
		padding-top: 0px;
	}
}
@media screen and (max-width: 480px) {
	#main_gallery #main_row div ul li {
		margin: 0 0px 10px 6px;
	}
	#main_gallery #main_row div ul {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.top_newsletter_link ul li {
		padding: 5px 8px 5px;
	}
	.main_title p {
		font-size: 17px;
	}
	.desc-hedtitle p {
		font-size: 17px;
	}
	.pro-and-about {
		padding: 15px 15px;
	}
}
@media screen and (max-width: 361px){
	.top_newsletter_link ul li a {
		font-size: 13px;
	}
	.Verifie-text1 p {
		font-size: 12px;
	}
	.Verifie-text1 h1 {
		font-size: 17px;
	}
	.top_section {
		padding: 15px 0 15px;
	}
}
/*================================== IMAGES CSS END  ================================== */

/*================================== BANNER CSS START  ================================== */
#dezign_home_banner {
	display: table;
	margin: 40px auto;
	text-align: center;
}
.banner_section_res{
	display: none;
}
@media screen and (max-width: 767px) {
	.banner_section_res{
		display: block;
	}
	.banner_section{
		display: none;
	}
	#dezign_home_banner {
		margin: 30px auto 20px;
	}
}
/*================================== BANNER CSS END  ================================== */

/*================================== ABOUT CSS START  ================================== */
.about2_wrapper {
	margin: 50px 0px;
}
.about2_bg{
	position: relative;
}
.about_bottom_img {
	position: relative;
	overflow: hidden;
	display: inline-block;
}
.about_bottom_img::before {
	background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 0;
	opacity: 1;
	position: absolute;
	right: 0;
	width: 0;
}
.about_bottom_img::after {
	background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
	content: "";
	height: 0;
	left: 0;
	opacity: 1;
	position: absolute;
	top: 0;
	width: 0;
}
.about_bottom_img:hover::before {
	height: 100%;
	width: 100%;
	opacity: 0;
	transition-duration: 1.3s;
}
.about_bottom_img:hover::after {
	height: 100%;
	width: 100%;
	opacity: 0;
	transition-duration: 1.3s;
}
.about_bottom::after {
	content: '';
	position: absolute;
	background-color: #f3f3f3;
	width: 85%;
	height: 80%;
	right: 26px;
	top: 0;
	margin: auto;
	z-index: -1;
}
.about_bottom::before {
	content: '';
	position: absolute;
	background-image: url(../images/about_after.png);
	width: 296px;
	height: 410px;
	right: 0;
	bottom: 0px;
	margin: auto;
	z-index: -1;
}
.about_bottom {
	position: relative;
	overflow: hidden;
	padding: 40px 65px 0 0;
}
.about_bottom_content {
	position: relative;
}
.about_bottom_content h3 {
	font-size: 45px;
	font-weight: 700;
	color: #000;
	font-family: 'Montserrat', sans-serif;
	position: relative;
	text-transform: capitalize;
	margin-bottom: 15px;
}
.about_bottom_content h6 {
	font-size: 19px;
	font-weight: 600;
	color: #000;
	font-family: 'Montserrat', sans-serif;
	line-height: 28px;
	letter-spacing: 0.30px;
	margin: 15px 0 15px;
}
.about_bottom_content p {
	font-size: 15px;
	font-weight: 600;
	color: #555555;
	font-family: 'Montserrat', sans-serif;
	line-height: 25px;
	letter-spacing: 0.30px;
	margin-bottom: 25px;
}
.about2_button a {
	color: #FFF !important;
  	font-size: 14px;
  	font-weight: 500;
  	letter-spacing: 0.5px;
  	font-family: 'Montserrat', sans-serif;
  	transition: all 0.8s ease 0s;
  	text-align: center;
  	margin: 0 auto;
  	padding: 12px 23px;
  	display: inline-block;
  	position: relative;
  	transition: all 0.8s ease-in-out;
  	-webkit-transition: all 0.8s ease-in-out;
  	-moz-transition: all 0.8s ease-in-out;
  	-ms-transition: all 0.8s ease-in-out;
  	-o-transition: all 0.8s ease-in-out;
  	background-color: rgb(200, 35, 51);
  	overflow: hidden;
  	z-index: 1;
  	text-transform: uppercase;
}
.about2_button a::after{
	content: '';
	position: absolute;
	background-color:#000;
	width: 100%;
	height: 50%;
	top: 0;
	left: -100%;
	margin: auto;
	transition: all 0.8s ease-in-out;
	z-index: -1;
}
.about2_button a:hover::after{
	left: 0;
	transition: all 0.8s ease-in-out;
}
.about2_button a::before{
	content: '';
	position: absolute;
	background-color: #000;
	width: 100%;
	height: 50%;
	bottom: 0;
	right: -100%;
	margin: auto;
	transition: all 0.8s ease-in-out;
	z-index: -1;
}
.about2_button a:hover::before{
	right: 0;
	transition: all 0.8s ease-in-out;
}
.about2_button img {
	margin-right:8px;
}
@media screen and (max-width: 1199px) {
	.about2_wrapper .container {
		max-width: 100%;
		padding: 0 20px;
	}
}
@media screen and (max-width:1024px) {
	.about_bottom_content p {
		font-size: 14px;
		margin-bottom: 15px;
	}
	.about_bottom_content h3 {
		font-size: 39px;
		margin-bottom: 10px;
	}
}
@media screen and (max-width:991px) {
	.about_bottom_content p {
		font-size: 13px;
		line-height: 22px;
	}
	.about_bottom::before {
		height: 305px;
	}
}
@media screen and (max-width: 767px) {
	.about2_wrapper .container .about2_bg .row .col-md-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.about_bottom {
		display: table;
		margin: 0 auto;
	}
	.about_bottom_content h6 {
		margin: 15px 0 15px;
		font-size: 19px;
	}
	.about_bottom_content p {
		font-size: 15px;
		margin-bottom: 20px;
	}
	.about2_wrapper {
		margin: 30px 0px;
	}
	.about_bottom_content h3 {
		font-size: 42px;
		margin-bottom: 10px;
		margin-top: 16px;
	}
	.about_bottom::before {
		height: 400px;
	}
}
@media screen and (max-width: 480px) {
	.about_bottom_content h3 {
		font-size: 32px;
	}
	.about_bottom_content p {
		margin-bottom: 22px;
	}
	.about_bottom_content {
		position: relative;
		text-align: center;
	}
	.about_bottom::before {
		height: 280px;
	}
	.about_bottom {
		position: relative;
		overflow: hidden;
		padding: 25px 50px 0 0;
	}
}
@media screen and (max-width: 361px) {
	.about_bottom_content p {
		margin-bottom: 15px;
	}
	.about_bottom_content h6 {
		font-size: 18px;
		line-height: 25px;
	}
	.about_bottom::before {
		height: 240px;
		width: 246px;
	}
}
/*================================== ABOUT CSS END  ================================== */

/*================================== PROMOTION CSS START  ================================== */
.service_wrapper {	
	margin: 45px 0px;
}
.service_item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.service_box {
	text-align: center;
	position: relative;
	transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
}
.service_img img {
	transition: all 0.5s ease-in-out;
}
.service_box:hover img {
	transform: rotateY(360deg);
}
.service_title h4 {
	font-size: 16px;
	font-weight: 500;
	color: #333333;
	font-family: 'Montserrat', sans-serif;
	text-transform: capitalize;
	margin: 20px 0 0 0;
	letter-spacing: 0.65px;
}
@media screen and (max-width: 1199px) {
	.service_wrapper .container {
		max-width: 100%;
		padding: 0 20px;
	}
}
@media screen and (max-width:1024px) {
}
@media screen and (max-width: 900px) {
	
}
@media screen and (max-width: 800px) {
	.service_title h4 {
		font-size: 14px;
	}
}
@media screen and (max-width: 767px) {
	.service_item {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	.service_box:nth-child(3):after{
		display: none;
	}
	.service_box {
		width: 33%;
	}
	.service_wrapper  .container .service_item .service_box:nth-child(4), .service_wrapper  .container .service_item .service_box:nth-child(5){
		margin: 20px 0 0 0;
	}
	.service_title h4 {
		font-size: 15px;
	}
}
@media screen and (max-width:575px) {
	.service_box {
		width: 50%;
	}
	.service_wrapper  .container .service_item .service_box:nth-child(3), .service_wrapper  .container .service_item .service_box:nth-child(4), .service_wrapper  .container .service_item .service_box:nth-child(5){
		margin: 30px 0 0 0;
	}
}
@media screen and (max-width: 480px) {
	.service_wrapper {
		margin: 35px 0px;
	}
	.service_box {
		width: 100%;
	}
	.service_wrapper  .container .service_item .service_box:nth-child(2), .service_wrapper  .container .service_item .service_box:nth-child(3), .service_wrapper  .container .service_item .service_box:nth-child(4), .service_wrapper  .container .service_item .service_box:nth-child(5){
		margin: 30px 0 0 0;
	}
}
/*================================== PROMOTION CSS END  ================================== */

/*================================== FEATURE PRODUCT CSS START  ================================== */
.feature-title h1 {
	font-size: 30px;
	font-weight: 600;
	letter-spacing: 1px;
	font-family: "Montserrat", sans-serif;
	color: #222222;
	text-transform: capitalize;
	margin: 0 0 25px 0;
}
.feature-title img {
	margin: 0 20px;
}
.cate_box {
	position: relative;
	overflow: hidden;
	margin: 0 auto 33px;
	display: table;
}
.feature_box {
	position: relative;
	overflow: hidden;
	display: table;
}
.cate_box .feature_box a img {
	transition: all .8s ease-in-out;
}
.fat_box {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.cate_box:hover .feature_box img {
	transition:  all .8s ease-in-out;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.cate_box .fat_box h1 {
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0.50px;
	text-align: center;
	transition: all .8s ease-in-out;
	margin-bottom: 0px;
	text-transform: capitalize;
	font-family: "Montserrat", sans-serif;
	color: #fff;
	padding: 3px 3px;
	line-height: 33px;
}
.cate_box:hover .fat_box h1{
	color: #000;
}
.browse_all_btn{
	text-align: center;
}
.browse_all_btn a {
	color: #FFF !important;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.5px;
	font-family: 'Montserrat', sans-serif;
	transition: all 0.8s ease 0s;
	text-align: center;
	margin: 0 auto;
	padding: 12px 20px;
	display: inline-block;
	position: relative;
	transition: all 0.8s ease-in-out;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	background-color: rgb(200, 35, 51);
	overflow: hidden;
	z-index: 1;
	text-transform: uppercase;
}
.browse_all_btn a::before {
	content: '';
	position: absolute;
	background-color: #000;
	width: 100%;
	height: 50%;
	bottom: 0;
	right: -100%;
	margin: auto;
	transition: all 0.8s ease-in-out;
	z-index: -1;
}
.browse_all_btn a:hover::before {
	right: 0;
	transition: all 0.8s ease-in-out;
}
.browse_all_btn a::after {
	content: '';
	position: absolute;
	background-color: #000;
	width: 100%;
	height: 50%;
	top: 0;
	left: -100%;
	margin: auto;
	transition: all 0.8s ease-in-out;
	z-index: -1;
}
.browse_all_btn a:hover::after {
	left: 0;
	transition: all 0.8s ease-in-out;
}
.browse_all_btn img {
	margin-left: 5px;
	margin-top: -2px;
}
@media screen and (max-width: 1199px) {
	.feature_section .container {
		max-width: 100%;
		padding: 0 20px;
	}
	.cate_box .fat_box h1 {
		font-size: 16px;
	}
}
@media screen and (max-width: 1024px) {
	.cate_box .fat_box h1 {
		font-size: 15px;
	}
}
@media screen and (max-width: 800px) {
	.cate_box .fat_box h1 {
		font-size: 12px;
		letter-spacing: 0;
	}
}
@media screen and (max-width: 767px) {
	.cat_sec .container .row{
		justify-content: center !important;
	}	
	.cate_box .fat_box h1 {
		font-size: 18px;
		letter-spacing: 0.50px;
	}
}
@media screen and (max-width: 575px) {
	.cate_box {
		display: table;
		margin: 0 auto 30px;
	}	
	.cate_box .fat_box h1 {
		font-size: 14px;
		letter-spacing: 0.50px;
	}
	.feature-title h1 {
		font-size: 23px;
	}
}
@media screen and (max-width: 480px) {
	.feature-title h1 {
		font-size: 19px;
	}
	.cat_sec .container .row .col-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.feature-title img {
		margin: 0 5px;
		width: 9%;
	}
	.cate_box .fat_box h1 {
		font-size: 18px;
		letter-spacing: 0.50px;
	}
}
@media screen and (max-width: 361px) {
	.feature-title h1 {
		font-size: 19px;
	}
	.feature-title img {
		margin: 0 0px;
		width: 7%;
	}
}
/*================================== FEATURE PRODUCT CSS END  ================================== */

/*================================== MAIN TAB CSS START ================================== */
.main_tab_row {
	position: relative;
	z-index: 99;
	margin: 45px 0px 45px;
}
.tabs {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	clear: both;
	padding: 0px;
	margin: 0px 0 0 0;
}
.tabs label {
	-webkit-box-ordinal-group: 2;
	-webkit-order: 1;
	-ms-flex-order: 1;
	order: 1;
	display: block;
	cursor: pointer;
	float: left;
	box-sizing: border-box;
	position: relative;
	letter-spacing: 0.70px;
	color: #FFF;
	font-size: 16px;
	font-weight: 500;
	font-family: "Montserrat", sans-serif;
	line-height: 43px;
	transition: all 0.8s ease-in-out;
	text-align: center;
	text-decoration: none;
	background: #181818;
	width: 173px;
	text-transform: uppercase;
	margin-right: 10px;
	margin-bottom: 4px;
}
.tab.description_content p {
	font-size: 15px;
	font-weight: 500;
	line-height: 27px;
	color: #666666;
	font-family: "Montserrat", sans-serif;
	letter-spacing: 0.30px;
}
.tab.description_content strong {
	font-size: 18px;
	font-weight: 600;
	line-height: 26px;
	letter-spacing: 0.30px;
	color: #000;
	font-family: "Montserrat", sans-serif;
}
.tab.description_content b {
	font-size: 18px;
	font-weight: 700;
	color: #010101;
	font-family: "Montserrat", sans-serif;
	margin-right: 4px;
}
.tabs label img {
	margin-right: 8px;
	margin-top: -3px;
}
.tabs .nomarginright.none {
	margin-right: 0px;
}
.tabs label:hover {
	color: #fff;
	background-color: rgb(200, 35, 51);
}
.tabs label a {
	color: #FFF;
	text-decoration: none;	width: 100%;
	font-family: "Montserrat", sans-serif;
	display: block;
}
.p_text {
	margin-bottom: 20px;
}
.tabs .tab {
	-moz-box-flex: 1;
	-moz-box-ordinal-group: 100;
	box-sizing: border-box;
	color: #5c5c5c;
	font-weight: 400;
	display: none;
	flex-grow: 1;
	font-family: "Montserrat", sans-serif;
	margin: 0px auto 0;
	order: 99;
	padding: 0 0px;
	width: 100%;
	background: #FFF;
	font-size: 16px;
	line-height: 25px;
	letter-spacing: 0.50px;
	padding: 25px;
	border: 1px solid #e4e4e4;
}
.tabs .tab p:last-child {
	margin-bottom: 0;
}
.tab.description_content h6 {
	font-size: 17px;
	font-weight: 700;
	color: #222222;
	line-height: 25px;
	letter-spacing: 0.30px;
	padding-bottom: 10px;
}
.ship_t {
	margin-left: -30px;
}
.payment_text {
	margin-bottom: 20px;
}
.tabs .tab a {
	color: #2fab81;
	
}
.tabs label:hover a {
	color: #ffffff;
}
.tabs input[type="radio"] {
	position: absolute;
	opacity: 0;
}
.tabs input[type="radio"]:checked + label {
	color: #fff;
	background-color: rgb(200, 35, 51);
}
.tabs input[type="radio"]:checked + label + .tab {
	display: block;
}
.tabele_border td {
	padding: 5px 15px;
}
.tab.description_content li {
	margin-bottom: 15px;
}
.tab.description_content li:last-child {
    margin-bottom: 0;
}
@media screen and (max-width: 1199px) {
	.main_tab_row .container {
		max-width: 100%;
		padding: 0 20px;
	}
}
@media screen and (max-width: 767px) {
	.tabs label {
		width: 160px;
	}
}
@media screen and (max-width:575px) {
	.tabs label {
		width: 136px;
	}
}
@media screen and (max-width: 480px) {
	.tabs label {
		width: 100%;
		margin-right: 0;
		border-bottom: 1px solid rgb(255, 255, 255, 0.5);
	}
	.tabs .tab, .tabs label {
		-webkit-box-ordinal-group: unset;
		-webkit-order: initial;
		-ms-flex-order: initial;
		order: initial;
	}
	.main_tab_row {
		margin: 35px 0px;
	}
	.tabs .tab {
		padding: 15px;
	}
}
/*================================== MAIN TAB CSS END  ================================== */

/*================================== REVIEWS CSS START  ================================== */
.guaranteed_wrapper {
	position: relative;
	background-color: #f5f5f5;
	padding: 40px 0px;
}
.guaranteed_title img {
	margin: 0 10px;
}
.guaranteed_title {
	margin: 0 auto;
	text-align: center;
	margin-bottom: 25px;
}
.guaranteed_title h1 {
	font-size: 30px;
	font-weight: 600;
	color: #000;
	font-family: 'Montserrat', sans-serif;
	position: relative;
	text-transform: capitalize;
	margin-bottom: 0px;
	letter-spacing: 1px;
}
.guaranteed_title p {
	font-size: 14px;
	font-weight: 300;
	color: #333333;
	letter-spacing: 1.50px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}
.guaranteed_box {
	margin-bottom: 35px;
	padding: 20px 8px;
	position: relative;
	border-bottom: 1px solid #d6d8d6;
	text-align: center;
}
.guaranteed_box .start{
	margin-bottom:15px;
}
.guaranteed_text {
	font-size: 15px;
	color: #666666;
	font-weight:600;
	margin-bottom: 20px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.30px;
	line-height: 25px;
}
.guaranteed_name {
	font-size: 17px;
	color: #000;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.30px;
	font-weight: 700;
}
.guaranteed_button{
	margin: 0 auto 25px;
	text-align: center;
}
.view_btn {
	margin: 0 auto;
	text-align: center;
}
.btn01 {
	color: #FFF !important;
  	font-size: 14px;
  	font-weight: 500;
  	letter-spacing: 0.5px;
  	font-family: 'Montserrat', sans-serif;
  	transition: all 0.8s ease 0s;
  	text-align: center;
  	margin: 0 auto;
  	padding: 12px 23px;
  	display: inline-block;
  	position: relative;
  	transition: all 0.8s ease-in-out;
  	-webkit-transition: all 0.8s ease-in-out;
  	-moz-transition: all 0.8s ease-in-out;
  	-ms-transition: all 0.8s ease-in-out;
  	-o-transition: all 0.8s ease-in-out;
  	background-color: rgb(200, 35, 51);
  	overflow: hidden;
  	z-index: 1;
  	text-transform: uppercase;
}
.btn01::before {
	content: '';
	position: absolute;
	background-color: #000;
	width: 100%;
	height: 50%;
	bottom: 0;
	right: -100%;
	margin: auto;
	transition: all 0.8s ease-in-out;
	z-index: -1;
}
.btn01:hover::before {
	right: 0;
	transition: all 0.8s ease-in-out;
}
.btn01::after {
	content: '';
	position: absolute;
	background-color: #000;
	width: 100%;
	height: 50%;
	top: 0;
	left: -100%;
	margin: auto;
	transition: all 0.8s ease-in-out;
	z-index: -1;
}
.btn01:hover::after {
	left: 0;
	transition: all 0.8s ease-in-out;
}
@media screen and (max-width: 1199px) {
	.guaranteed_wrapper .container {
		max-width: 100%;
		padding: 0 20px;
	}
	.guaranteed_text {
		letter-spacing: 0px;
	}
}
@media screen and (max-width:1024px) {
	.guaranteed_text {
		height: 100px;
		display: flex;
		align-items: center;
	}
}
@media screen and (max-width: 991px) {
	.guaranteed_wrapper .container .row .col-md-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.guaranteed_text {
		height: 50px;
	}
	.guaranteed_title h1 {
		font-size: 29px;
	}
}
@media screen and (max-width: 714px) {
	.guaranteed_text {
		height: 75px;
	}
	.guaranteed_title h1 {
		font-size: 27px;
	}
	.guaranteed_title {
		margin-bottom: 10px;
	}
}
@media screen and (max-width: 575px) {
	.guaranteed_wrapper .container .row .col-md-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.guaranteed_text {
		height: unset;
	}
	.guaranteed_title {
		margin-bottom: 0;
	}
	.guaranteed_title h1 {
		font-size: 21px;
	}
	.guaranteed_box {
		margin-bottom: 5px;
	}
	.view_btn {
		margin: 30px auto 0;
	}
}
@media screen and (max-width: 480px) {
	.guaranteed_title h1 {
		font-size: 17px;
	}
	.guaranteed_title img {
		margin: 0 0px;
		width: 9%;
	}
}
@media screen and (max-width: 361px) {
	.guaranteed_title h1 {
		font-size: 16px;
	}
	.guaranteed_title img {
		margin: 0 0px;
		width: 7%;
	}
}
/*================================== REVIEWS CSS END  ================================== */

/*================================== FOOTER CSS START  ================================== */
.store_footer_wapper {
	padding: 35px 0 25px;
	background-color: #f5f5f5;
}
.footer_block_titel {
	font-size: 18px;
	color: #000;
	text-transform: uppercase;
	font-weight: 600;
	font-family: "Montserrat", sans-serif;
	margin-bottom: 20px;
	position: relative;
	letter-spacing: 0.20px;
}
.footer_logo {
	display: flex;
	justify-content: center;
}
.footer_block.footer_block04 {
	text-align: center;
}
.footer_block01 .footer_menu ul {
	display: flex;
	margin-top: 30px;
	grid-column-gap: 45px;
	margin-left: -30px;
	margin-right: -30px;
}
.footer_menu_block {
	display: flex;
	grid-column-gap: 45px;
}
.store_footer_wapper .container .row .col-md-6{
    display: grid;
    justify-content: center;
}
.footer_menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.footer_menu ul li:nth-child(1) {
	padding-left: 00px;
}
.footer_menu ul li:nth-child(4) {
	padding-right: 00px;
}
.footer_menu ul li a::after {
	position: absolute;
	content: '';
	height: 1px;
	width: 0%;
	background-color: #000;
	bottom: -4px;
	left: 0;
	right: 0;
	margin: auto;
    transition: all 0.8s ease-in-out;
}
.footer_menu ul li a {
	font-size: 16px;
	color: #000;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 30px;
	letter-spacing: 0.3px;
}
.footer_menu ul li a:hover::after{
    width: 100%;
}
.footer_menu ul li a:hover{
    text-decoration: none;
}
.footer_menu ul li a {
	position: relative;
}
.footer_bottom {
	background-color: rgb(200, 35, 51);
	padding: 10px 0;
	position: relative;
}
.dezign_copyright {
	text-align: left;
	font-size: 13px;
	font-family: "Montserrat", sans-serif;
	letter-spacing: 1px;
	color: #fff;
	font-weight: 500;
}
.dezign_copyright span {
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	color: #fff;
	font-size: 17px;
	font-weight: 600;
	letter-spacing: 1px;
}
.dezign_by {
	text-align: right;
	font-size: 14px;
	letter-spacing: 1px;
	color: #fff;
	font-weight: 500;
	font-family: "Montserrat", sans-serif;
}
.dezign_by span {
	color: #fff;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 700;
}
@media screen and (max-width: 1199px) {
    .store_footer_wapper .container{
        max-width: 100%;
        padding: 0 20px;
    }
    .footer_bottom .container{
        max-width: 100%;
        padding: 0 20px;
    }
	.footer_block_titel {
		font-size: 16px;
	}
	.footer_block01 .footer_menu ul {
		grid-column-gap: 25px;
	}
	.footer_menu_block {
		grid-column-gap: 25px;
	}
}
@media screen and (max-width:1024px) {
	.footer_block_titel {
		font-size: 15px;
	}
	.footer_menu ul li a {
		font-size: 15px;
	}
}
@media screen and (max-width: 991px) {
	.footer_block01 .footer_menu ul {
        display: block;
        margin-top: 20px;
		margin-left: 0px;
	    margin-right: 0px;
    } 
	.footer_menu_block {
		display: flex;
		grid-column-gap: 32px;
		justify-content: center;
	}
	.footer_block_titel {
		font-size: 11px;
	}
	.dezign_by {
		font-size: 13px;
	}
	.dezign_by span {
		font-size: 13px;
	}
}
@media screen and (max-width: 767px) {
    .store_footer_wapper .container .row{
        display: grid;
        grid-row-gap: 20px;
    }
    .store_footer_wapper .container .row .col-md-6{
        order: -1;
    }
    .store_footer_wapper .container{
        max-width: 100%;
        padding: 0 20px;
    }
	.dezign_copyright {
		text-align: center;
	}
	.dezign_by {
		text-align: center;
		margin-top: 8px;
		font-size: 14px;
	}
	.dezign_by span {
		font-size: 14px;
	}
	.footer_block.footer_block04 {
		text-align: center;
	}
	.footer_block_titel {
		font-size: 18px;
	}
	.footer_block.footer_block03 {
		text-align: center;
	}
	.footer_block01 .footer_menu ul {
		margin-left: 0px;
		margin-right:0px;
	}
	.store_footer_wapper {
		margin-top: 15px;
	}
}
@media screen and (max-width: 361px){
	.footer_block.footer_block01 {
		display: flex;
		justify-content: center;
	}
	.footer_block01 .footer_menu ul {
		display: block;
		margin-top: 20px;
		margin-left: 0;
		margin-right: 00;
	}
	.footer_menu_block {
		display: block;
		text-align: center;
	}
	.dezign_by {
		font-size: 11px;
	}
}
/*================================== FOOTER CSS END  ================================== */

